/* IMÁGENES CUADRADAS */
.airline-logo {
  width: 100%;
  height: 180px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
}

/* CONTIENE LAS TARJETAS Y LAS ALINEA */
.airline-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* TARJETA (MISMA ALTURA PARA TODAS) */
.airline-card {
  flex: 1 1 calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* INFORMACIÓN INTERNA AJUSTADA */
.airline-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* NOMBRE DE LA AEROLÍNEA */
.airline-name {
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* DESCRIPCIÓN */
.airline-description {
  margin-top: 10px;
  color: #555;
}

/* FOOTER ABAJO */
.airline-footer {
  margin-top: auto;
  padding-top: 10px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
