{% extends 'base.html' %}
{% load static %}
{% block title %}Aerolíneas{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/aerolineas.css' %}">
{% endblock %}

{% block content %}
<section class="container tm-home-section-1">

  <div class="row">
    <div class="tm-section-header">
      <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2 class="tm-section-title">Aerolíneas disponibles</h2>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
    </div>
  </div>

  <div class="airline-grid">
    {% for aerolinea in aerolineas %}
      <div class="airline-card">

        <img src="{{ aerolinea.logo.url }}" 
             alt="{{ aerolinea.nombre }}" 
             class="airline-logo">

        <div class="airline-info">
          <p class="text-uppercase margin-bottom-20">{{ aerolinea.nombre }}</p>
          <p class="gray-text">Código: {{ aerolinea.siglas }}</p>
          <p class="airline-description">
            {{ aerolinea.descripcion|default:"Sin descripción" }}
          </p>
        </div>

        <div class="airline-footer">
            <span>País: {{ aerolinea.pais_origen.nombre }}</span>
            <a href="{% url 'detalle_aerolinea' aerolinea.id_aerolinea %}">Ver detalles</a>     
        </div>

      </div>
    {% endfor %}
  </div>

</section>
{% endblock %}
