{% extends 'base.html' %}
{% load static %}
{% block title %}Aeropuertos{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/aeropuertos.css' %}">
{% endblock %}

{% block content %}
<section class="container tm-home-section-1">

  <div class="row">
    <div class="tm-section-header">
      <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2 class="tm-section-title">Aeropuertos registrados</h2>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>  
    </div>
  </div>

  <!-- GRID DE TARJETAS -->
  <div class="airport-grid">
    {% for aeropuerto in aeropuertos %}

      <div class="airport-card">

        <!-- Imagen correcta -->
        
        {% if aeropuerto.foto %}
        <img src="{{ aeropuerto.foto.url }}" 
          alt="{{ aeropuerto.nombre }}" 
          class="airport-image">
        {% else %}
        <img src="{% static 'img/placeholder.png' %}" 
          alt="Sin imagen" 
          class="airport-image">
        {% endif %}


        <!-- Info -->
        <div class="airport-info">
          <p class="text-uppercase margin-bottom-20">{{ aeropuerto.nombre }}</p>
          <p class="gray-text">Código IATA: {{ aeropuerto.siglas }}</p>

          <p class="airport-description">
            Ubicado en {{ aeropuerto.ciudad }} ({{ aeropuerto.pais.nombre }})
          </p>
        </div>

        <!-- Footer -->
        <div class="airport-footer">
          <span>Aerolíneas: {{ aeropuerto.aerolineas.count }}</span>
          <a href="{% url 'detalle_aeropuerto' aeropuerto.id_aeropuerto %}">
            Ver detalles
          </a>
        </div>

      </div>

    {% endfor %}
  </div>

</section>

{% endblock %}
