{% extends 'base.html' %}
{% load static %}
{% block title %}Aeropuertos{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/aeropuertos.css' %}">
{% endblock %}

{% block content %}
<section class="container tm-home-section-1">

  <div class="row">
    <div class="tm-section-header">
      <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
      <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>  
    </div>
  </div>

  <!-- BUSCADOR -->
  <div class="row mt-4">
    <div class="col-md-6 offset-md-3">
      <input 
        type="text" 
        id="buscador-aeropuertos" 
        class="form-control" 
        placeholder="Buscar aeropuerto..."
      >
    </div>
  </div>

  <!-- CONTENEDOR DINÁMICO -->
  <div id="contenedor-aeropuertos">
    {% include "aeropuertos_items.html" with aeropuertos=aeropuertos %}
  </div>

</section>

<script>
document.getElementById("buscador-aeropuertos").addEventListener("input", function () {
    const texto = this.value;

    fetch("{% url 'buscar_aeropuertos' %}?q=" + texto)
        .then(response => response.json())
        .then(data => {
            const contenedor = document.getElementById("contenedor-aeropuertos");

            // efecto de transición
            contenedor.style.opacity = 0;
            setTimeout(() => {
                contenedor.innerHTML = data.html;
                contenedor.style.opacity = 1;
            }, 150);
        });
});
</script>

{% endblock %}
