{% extends "base.html" %}
{% load static %}
{% block title %}Aerolíneas{% endblock %}

{% block content %}
<section class="container tm-home-section-1">
  <div class="row">
    <div class="tm-section-header">
      <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
      <div class="col-lg-6 col-md-6 col-sm-6"><h2 class="tm-section-title">Aerolíneas disponibles</h2></div>
      <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>  
    </div>
  </div>

  <div class="row">
    {% for aerolinea in aerolineas %}
    <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="tm-tours-box-1">
        <img src="{% static 'img/tours-03.jpg' %}" alt="aerolínea" class="img-responsive">
        <div class="tm-tours-box-1-info">
          <div class="tm-tours-box-1-info-left">
            <p class="text-uppercase margin-bottom-20">{{ aerolinea.nombre }}</p>  
            <p class="gray-text">Código: {{ aerolinea.codigo }}</p>
          </div>
          <div class="tm-tours-box-1-info-right">
            <p class="gray-text tours-1-description">{{ aerolinea.descripcion|default:"Sin descripción" }}</p>  
          </div>              
        </div>
        <div class="tm-tours-box-1-link">
          <div class="tm-tours-box-1-link-left">
            País: {{ aerolinea.pais.nombre }}
          </div>
          <a href="{% url 'detalle_aerolinea' aerolinea.id_aerolinea %}" class="tm-tours-box-1-link-right">
            Ver detalles
          </a>              
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
