{% extends 'base.html' %}

{% block content %}
  <div class="container text-center mt-4">
      <h1>Bienvenidos a Volare ✈️</h1>
      <p>Descubre las mejores aerolíneas, aeropuertos y países a los que puedes volar.</p>
      <hr>
      <h3>Curiosidades sobre viajar</h3>
      <ul>
          <li>El aeropuerto más transitado del mundo es el de Atlanta (ATL).</li>
          <li>La aerolínea más antigua en funcionamiento es KLM, fundada en 1919.</li>
          <li>España es uno de los países más visitados del mundo por turismo aéreo.</li>
      </ul>
  </div>
{% endblock %}
